.bootstrap-widget .popover {
  box-shadow: 0 2px 15px hsla(0, 0%, 0%, 0.7);
  max-width: inherit;}

.cart {width: 220px;}

/* Cart item. */
.cart .cart-item {}

.cart .cart-item-name {
  float: left;
  line-height: 28px;
  white-space: nowrap;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;}

.cart a.cart-item-remove {
  float: right;
  line-height: 28px;
  font-size: 18px;
  color: #999;
  text-decoration: none;}
.cart a.cart-item-remove:hover {color: #333333;}

.cart .cart-item-quantity {
  float: right;
  text-align:center;
  margin-top: 4px;
  margin-right: 10px;
  height: 22px;
  padding: 1px 3px;
  line-height: 20px;
  width: 25px;}

.cart .cart-item-price {
  float: right;
  line-height: 28px;
  margin-right: 3px;
  color: #999;
  max-width: 41px;
  overflow: hidden;
  text-overflow: ellipsis;}

.cart .cart-item-multiply-sign {
  font-size: 12px;
  line-height: 28px;
  margin-right: 3px;
  color: #999;
  float: right;}

/* Purchase and Buy buttons. */
.cart .cart-purchase-button,
.cart .cart-send-order-button {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.cart .cart-purchase-button {margin-top: 15px;}
.cart .cart-send-order-button {margin-top: 8px;}

/* Message. */
.cart .cart-message {
  color: #999;
  margin-top: 20px;
  margin-bottom: 20px;}
.cart .cart-message-error {color: #b94a48;}

/* Contacts. */

/* Helpers. */
.cart-clearfix {clear: both;}

/* Need this to check when stylesheet loading will be finished */
#cart-loaded {position: absolute;}